services:
  web-draft:
    image: nginx
    volumes:
    - ./nginx/log.draft:/var/log/nginx
    - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    - ./public.draft:/usr/share/nginx/html
    # ports:
    # - "8080:80"
    labels:
    - "traefik.enable=true"
    - "fqdn=draft.ineiti.ch"
    networks:
      - traefik

  web:
    image: nginx
    volumes:
    - ./nginx/log:/var/log/nginx
    - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    - ./public:/usr/share/nginx/html
    # ports:
    # - "8080:80"
    labels:
    - "traefik.enable=true"
      #- "fqdn=ineiti.ch"
    - "traefik.http.routers.ineiti_ch-nginx.rule=(Host(`ineiti.ch`) || Host(`www.ineiti.ch`))"
    networks:
      - traefik

  goaccess:
    image: allinurl/goaccess
    container_name: goaccess
    volumes:
      - ./goaccess/goaccess.conf:/srv/config/goaccess.conf
      - ./nginx/log:/srv/logs
      - ./public:/srv/report
    command: ["--no-global-config", "--config-file=/srv/config/goaccess.conf"]
    labels:
      - "traefik.enable=true"
      - "fqdn=goaccess.ineiti.ch"
      - "traefik.http.services.ineiti_ch-goaccess.loadbalancer.server.port=443"
    restart: unless-stopped
    networks:
      - traefik


networks:
  traefik:
    external:
      name: traefik_traefik
